.image-caption-row {
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: horizontal;
}

.caption-image {
  height: 100%;
  margin-right: 10px;
}

.caption-container {
  margin: 0 5%;
}
.textbox-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .delete-textbox-button {
  align-items: start;
} */
.add-text-button {
  margin: 10px;
}
