
.image-caption-row {
	height: 300px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: horizontal;
}

.caption-image{
	height: 100%;
	margin-right: 10px;
}

.caption-container{
	margin: 0 5%;
}

.forms {
	width: 100%;
}